{% extends "events/base.html" %}

{% block content %}
<h1>Manage Members for {{ event.event_name }}</h1>

<div class="mb-3">
    <a href="{{ url_for('events.download_event_members', event_id=event.id) }}" class="btn btn-success">Download as CSV</a>
</div>

<form method="POST">
    <table class="table">
        <thead>
            <tr>
                <th>Member Name</th>
                <th>Current Effort Score</th>
                <th>Add Effort Score</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td><a href="{{ url_for('metrics.user_detail', user_id=member.user.id) }}">{{ member.user.first_name }} {{ member.user.last_name }}</a></td>
                <td>{{ member.effort_score }}</td>
                <td>
                    <input type="number" name="effort_score_{{ member.user.id }}" min="0" placeholder="0" />
                    /10
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save Scores</button>
</form>
{% endblock %}