<nav>
    <ul>
        <li><a href="{{ url_for('events.index') }}">Events</a></li>
        <li><a href="{{ url_for('events.add_event') }}">Add Event</a></li>
        <li><a href="{{ url_for('tournaments.index') }}">Tournaments</a></li>
        <li><a href="{{ url_for('metrics.index') }}">user Metrics</a></li>
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        <li><a href="{{ url_for('admin.search') }}">Search User</a></li>
    </ul>
</nav>