{% extends "profile/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>{{ user.first_name + ' ' + user.last_name }} - {{ user.id }}</h1>

<br>

<p>{{ user.email }}</p>
<p>Points: {{ user.points }}</p>
<br>
{% if user.is_parent %}
    <div>
        is parent
        <p>{{ user.child_first_name }} {{ user.child_last_name }}</p>
    </div>
    <br>
    <br>
    <br>

    <div>
        {% for user_requirement in user_requirements %}
            <h3>{{ requirements[user_requirement.requirement_id].body }}</h3>
        {% endfor %}
    </div>

    <br>
    <br>
    <br>
    {% if judge_link %}
        <a href="{{ url_for('profile.index', user_id=judge_link) }}">View Child</a>
    {% endif %}
{% else %}
    <div>
        is child
        <p>{{ user.emergency_contact_first_name }} {{ user.emergency_contact_last_name }}</p>
        <p>{{ user.emergency_contact_phone }}</p>
        <p>{{ user.emergency_contact_email }}</p>
    </div>
        <br>
    <br>
    <br>

    <div>
        {% for user_requirement in user_requirements %}
            <h3>{{ requirements[user_requirement.requirement_id].body }}</h3>
        {% endfor %}
    </div>

    <br>
    <br>
    <br>

    

    {% if judge_link %}
        <a href="{{ url_for('profile.index', user_id=judge_link) }}">View Parent</a>
    {% endif %}
    <a href="{{ url_for('profile.add_judge') }}">Add Judge</a>

{% endif %}

<a href="{{ url_for('profile.update') }}">Edit Profile</a>

{% endblock %}