{% extends "tournaments/base.html" %}
{% block title %}Rosters{% endblock %}
{% block content %}
<h2>Upcoming Tournaments</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Signup Deadline</th>
            <th>Performance Deadline</th>
        </tr>
    </thead>
    <tbody>
        {% for tournament in upcoming_tournaments %}
        <tr>
            <td>{{ tournament.name }}</td>
            <td>{{ tournament.date.strftime('%Y-%m-%d') }}</td>
            <td>{{ tournament.address }}</td>
            <td>{{ tournament.signup_deadline.strftime('%Y-%m-%d') }}</td>
            <td>{{ tournament.performance_deadline.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Rosters</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date Made</th>
        </tr>
    </thead>
    <tbody>
        {% for roster in rosters %}
        <tr>
            <td>{{ roster.name }}</td>
            <td>{{ roster.date_made }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
