{% extends "tournaments/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Signup Deadline</th>
            <th>Performance Deadline</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for tournament in tournaments %}
        <tr>
            <td>{{ tournament.name }}</td>
            <td>{{ tournament.date }}</td>
            <td>{{ tournament.address }}</td>
            <td>{{ tournament.signup_deadline }}</td>
            <td>{{ tournament.performance_deadline }}</td>
            <td><a href="{{ url_for('tournaments.delete_tournament', tournament_id=tournament.id) }}">Delete Tournament</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if user.is_parent %}
    <a href="{{ url_for('tournaments.judge_requests') }}">Tournament Judge Requests</a>
{% else %}
    <a href="{{ url_for('tournaments.signup') }}">Tournament Sign Up</a>
{% endif %}

{% if user.role >= 2 %}
<a href="{{ url_for('tournaments.add_tournament') }}">Add Tournament</a>
{% endif %}

{% endblock %}